@font-face {
  font-family: "CustomFont";
  src: url("../fonts/Kanit/Kanit-Regular.ttf") format("ttf");
  /* Add additional file formats if available, following the format() function */
  /* You can also specify font-weight and font-style here */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f1f1f1;
  font-family: "Kanit", sans-serif;
}

.loader {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
  animation: animate 1.2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
}

.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader span:nth-child(3) {
  filter: blur(25px);
}

.loader span:nth-child(4) {
  filter: blur(50px);
}

.loader:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #f1f1f1;
  border: solid white 10px;
  border-radius: 50%;
}

.profile-pic {
  position: absolute;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  background-image: url("../images/profile-pic.jpg");
  background-size: cover; /* or contain, or specific size */
  background-position: center center; /* or any other position */
  z-index: 100;
}

.loader-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  width: 100%;
  height: 350px;
}
.container {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh; /* Full viewport height */
  /* flex-wrap: wrap; */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  display: flex;
  flex-direction: column;
}

.greeting-message {
  max-width: 500px;
  text-align: center;
  padding: 30px;
}

#countdown {
  padding: 10px;
  font-size: 30pt;
}
